<div class="container">

  <h2><%= @auction.title %></h2>
  <p>Description: <%= @auction.description %></p>
  <p>Reserve Price<%= @auction.reserve_price %></p>
  <p>Current Price: $<%= @current_price %></p>


      <%= link_to "Reserve Price Met?", auction_close_auction_index_path(@auction), method: :post, class: "btn btn-danger" %>


      <h3>Create A Bid</h3>

      <%= form_for @bid, url: auction_bids_path(@auction), remote: true do |f| %>
        <%= f.text_field :price %>
        <%= f.submit "Create Bid" %>
      <% end %>




  <% if @auction.bids.any? %>
    <p>Bids:</p>
    <div class="bids">
      <% @bids.each do |bid| %>
                    <%= render partial: "/bids/new", locals: {bid: bid} %>
               <% end %>
    </div>
  <% end %>


  <%= link_to 'Back', auctions_path %>

</div>
